:root {
  --main-color: #111111;
  --grey-color: #6b6b6b;
  --accent-color: #f4d04e;
  --white-color: #fff;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(50vh - 261px);
  font-family: Figtree, sans-serif;
  color: var(--main-color);
}

.card {
  width: 384px;
  height: 522px;
  background: var(--white-color);
  padding: 24px;
  box-shadow: 13px 13px 0px -3px rgba(17, 17, 17, 0.9);
  border-radius: 20px;
}

.card-image {
  border-radius: 10px;
  height: 200px;

  margin-bottom: 24px;
}

.card-image img {
  width: 100%;
  border-radius: 10px;
}

.card-learning {
  width: 82px;
  height: 29px;
  background: var(--accent-color);
  font-weight: bold;
  padding: 4px 12px;
  font-size: 14px;

  margin-bottom: 12px;
}

.card-published {
  margin-bottom: 12px;

  font-size: 14px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 12px;
}

.card-title:hover {
  color: var(--accent-color);
}

.card-description {
  margin-bottom: 24px;

  color: var(--grey-color);
  font-size: 16px;
}

.card-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-avatar img {
  border-radius: 10px;
}

.card-author {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 786px) {
  .card {
    width: 327px;
  }

  .card-learning {
    width: 73px;
    height: 26px;
    font-size: 12px;
  }

  .card-published {
    font-size: 12px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    font-size: 14px;
    line-height: 150%;
  }
}
